---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout>
	<header><NavBar/></header>
	<div class="grid grid-cols-4 grid-rows-2 gap-2 py-12 px-4">
		<div class="square bg-slate-50 flex flex-col py-5 px-8 space-y-5">
			<h1 class="text-5xl font-bold">
				Ve más allá con nosotros
			</h1>
			<p>
				Renueva tu estilo con Polar Reach: donde la moda se une a la aventura. Viste para cada viaje, explora lo desconocido y usa el hashtag <b class="font-semibold">#PolarReach</b> para ser parte de nuestra comunidad destacada.
			</p>
			<span class="animation-elevate">
				<a target="_blank" href="" class="underline font-semibold">Síguenos en Instagram y únete a la aventura.</a>
			</span>
		</div>
		<div class="square">
			<img class="object-cover w-full h-full" src="images/aurora-escarlata.jpg" alt="Modelo aurora escarlata"/>
		</div>
		<div class="square">
			<img class="object-cover w-full h-full" src="images/cedro-artico.jpg" alt="Modelo Cedro artico"/>
		</div>
		<div class="square">
			<img class="object-cover w-full h-full" src="images/petalos-nieve.jpg" alt="Modelo pétalos de nieve"/>
		</div>
		<div class="square">
			<img class="object-cover w-full h-full" src="images/flor-ambar.jpg" alt="Modelo flor ámbar"/>
		</div>
		<div class="square">
			<img class="object-cover w-full h-full" src="images/mar-profundo.jpg" alt="Modelo mar profundo"/>
		</div>
	</div>
	<footer>Footer</footer>
</Layout>
<style scoped>
	div{
		@apply rounded-sm;
	}
	.animation-elevate{
		@apply hover:-translate-y-0.5 transition-transform duration-100 ease-linear;
	}
	.square{
		aspect-ratio: 1 / 1;
	}
</style>